body {
    background: #000;
    color: #fff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.app {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

button{
    cursor: pointer;
}

main {
    min-height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {

    section {
        padding: 30px 15px;
    }
}

@media (max-width: 480px) {

    section {
        padding: 20px 10px;
    }
}


.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  